{% extends 'base.html' %}

{% block content %}

<div class="container">
  {% for detail in contact %}
  <div class="card">
    <div class="card-header">
      Category: {{ detail.category }} | {{ detail.created_date }}
    </div>
    <div class="card-body">
      <img class="card-img-top img-fluid mx-auto d-block p-5" width="150" height="150" loading="lazy" 
        src="{{detail.image.url}}" alt="Card image cap">
        <h5 class="card-title fst-italic">{{ detail.title }}</h5>
        <small class="text-muted">By: {{ detail.author }}</small>
        <p class="card-text fst-normal mt-2">{{ detail.content }}</p>
    </div>  
  </div>
  {% endfor %}  
</div>
{% endblock %}
